ServiceManager/Connected Services/DALServiceReference/DALService.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DALService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DALService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDepartment_dto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department_dto" nillable="true" type="tns:Department_dto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment_dto" nillable="true" type="tns:ArrayOfDepartment_dto" />
  <xs:complexType name="Department_dto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildDepartments" nillable="true" type="tns:ArrayOfDepartment_dto" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:ArrayOfEmployee_dto" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentDepartmentID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department_dto" nillable="true" type="tns:Department_dto" />
  <xs:complexType name="ArrayOfEmployee_dto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee_dto" nillable="true" type="tns:Employee_dto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee_dto" nillable="true" type="tns:ArrayOfEmployee_dto" />
  <xs:complexType name="Employee_dto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department_dto" />
      <xs:element minOccurs="0" name="DepartmentID" type="ser:guid" />
      <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee_dto" nillable="true" type="tns:Employee_dto" />
</xs:schema>